<%+ extend('layout') %> <%+ section('content') %>
<div class="container mt-3">
  <div class="row">
    <div class="col-12 col-sm-7 col-md-5 mx-auto">
      <div class="d-flex justify-content-between">
        <h3>Hobbies</h3>
        <a href="/app/create-hobby?user=<%= user %>"><button type="button" class="btn btn-outline-primary"> ADD</button></a>
      </div>
      <div class="hobbies">
        <div class="d-flex justify-content-between done">
          <p>Drink Water</p>
          <div class="d-flex">
            <div
              class="d-flex flex-column justify-content-center text-white me-2"
            >
              <span><i class="fa-solid fa-check"></i></span>
            </div>
            <div class="stats">
              <span class="streak"
                >1 <i class="fa-solid fa-fire-flame-curved"></i
              ></span>
              <span>1/1</span>
            </div>
          </div>
        </div>
        <div>
          <p>Go to gym</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%+ endSection %>
