<%+ extend('layout') %> <%+ section('content') %>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-5 mx-auto">
      <form method="post" action="auth/login" class="m-4 p-3 mx-3 border border-2 rounded mt-4">
        <h3 class="mb-4">Please enter your name</h3>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            id="loginName"
            aria-describedby="emailHelp"
          />
        </div>
        <div>
          <button
            type="submit"
            class="d-block w-50 mx-auto btn mt-4 mb-3 btn-primary"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
    document.getElementById("loginName").focus();
</script>

<%+ endSection %>
