body {
    font-family: 'Montserrat', sans-serif !important;
}

.hobbies>div {
    border: 1px solid black;
    border-radius: 4px;
    margin: 13px 0px;
    cursor: pointer;
}

/* .hobbies div:hover {
    background-color: #77a0dc;
    border-color: #77a0dc;
    color: white;
} */

.hobbies>div p {
    margin-bottom: 5px;
    padding: 10px;
}

.hobbies>div .check {
    display: none;
}

.hobbies>div.done .check {
    display: inline;
}


.stats {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-right: 8px;
    align-items: end;
}

.stats span {
    font-size: 15px;
}

.streak {
    color: red;
}

.done .streak {
    color: #ff3145;
}

.hobbies>div.done {
    background-color: #0d6efd;
    color: white;
}

.text-black {
    color: black !important;
}

.calendar-icon {
    color: white;
    padding: 3px 15px;
    font-size: 22px;
}

.col-1-7 {
    flex: 0 0 auto;
    width: 14.28% !important;
}

.week-days>div {
    font-size: 12px;
    text-align: center;
    background-color: #eee;
}

.hobby-title {
    font-weight: 600;
}

.hobby-bar {
    background-color: #E5E5E5;
}

.box {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
}

.box.done {
    background-color: #0d6efd;
    color: white;
    border: none;
}